src/main/mule/mulesoft_cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4b66e99-acce-413c-907d-d11aba78b18b" >
		<http:listener-connection host="0.0.0.0" port="9001" />
	</http:listener-config>
	<flow name="mulesoft_cicdFlow" doc:id="cd837693-1560-4c81-bb4b-a80c0262157c" >
		<http:listener doc:name="Listener" doc:id="f937d303-e638-47cd-985c-7ed4a7c285db" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="b5f34f5f-b56f-4e35-9205-24be718f486f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Name: "Naresh"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a834b3c1-5fbc-4c58-b735-1845e97a57e0" message="#[payload]"/>
	</flow>
</mule>
